<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eco Finder</title>
</head>
<body>
    <h1>ECO finder</h1>

    <form id="ecoForm" method="get" action="{{ url_for('eco') }}">
        <label for="eco">Enter ECO:</label>
        <input type="text" id="eco" name="eco" required>
        <button type="button" onclick="submitForm()">Submit</button>
    </form>

    <script>
        function submitForm() {
            var ecoValue = document.getElementById('eco').value;
            window.location.href = 'eco-finder/eco?eco=' + encodeURIComponent(ecoValue);
        }
    </script>
</body>
</html>
